:root {
  --success: #dcf2e2;
  --warning: #fef2d6;
  --critical: #fae3e1;
  --success-dark: #259646;
  --warning-dark: #cf940a;
  --critical-dark: #e04f44;
  --gray-900: #101828;
  --gray-800: #1D2939;
  --gray-700: #344054;
  --gray-600: #475467;
  --gray-500: #667085;
  --gray-400: #98A2B3;
  --gray-300: #D0D5DD;
  --gray-200: #EAECF0;
  --gray-100: #F2F4F7;
  --gray-50: #F9FAFB;
  --gray-25: #FCFCFD;
  --primary-color-900: #040A2F;
  --primary-color-800: #7E0B23;
  --primary-color-700: #B10F31;
  --primary-color-600: #e4133f;
  --primary-color-500: #e4133f;
  --primary-color-400: #E8365C;
  --primary-color-300: #EC5A79;
  --primary-color-200: #F07D95;
  --primary-color-100: #F4A1B2;
  --primary-color-50: #F8C4CF;
  --primary-color-25: #FCE7EC;
  --plyr-color-main: var(--primary-color-600) ;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-size: 20px;
  min-width: 1440px;
  overflow: auto;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(-45deg, #ffffff, #edf3ff);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.m-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1300px) {
  .m-open {
    overflow: hidden;
    position: fixed;
  }
  .m-open .header {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
  }
  .m-open .header .menu {
    display: flex;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  outline: none;
  border: none;
}
select:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 143%;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 143%;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 143%;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
}

input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  max-width: 1440px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.none {
  display: none !important;
}

.page {
  position: relative;
  overflow: hidden;
}

.lozad--disabled {
  opacity: 0;
  transition: 0.4s;
}

.loaded {
  opacity: 1;
}

._clause.--s {
  background-color: var(--success);
}
._clause.--w {
  background-color: var(--warning);
}
._clause.--c {
  background-color: var(--critical);
}

._anchor-material {
  display: inline-flex;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s ease color, 0.1s ease transform;
}
._anchor-material:hover {
  color: var(--gray-700);
}
._anchor-material:active {
  transform: scale(0.9);
}

.badge {
  width: fit-content;
  padding: 0.15em 0.5em;
  border-radius: 0.5em;
}
.badge.--gray {
  background-color: var(--gray-200);
}
.badge.--s {
  background-color: var(--success);
  color: var(--success-dark);
}
.badge.--w {
  background-color: var(--warning);
  color: var(--warning-dark);
}
.badge.--c {
  background-color: var(--critical);
  color: var(--critical-dark);
}

.header {
  width: 100%;
  padding: 25px 0 0 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px 45px;
  border-radius: 20px;
  background: linear-gradient(90deg, #E4133F 0%, #7E0B23 100%);
  box-shadow: 0px 0px 25px rgb(228, 19, 63);
}
.header__wrapper-logo {
  display: flex;
  transition: 0.1s ease transform;
}
.header__wrapper-logo img {
  width: auto;
  height: 50px;
}
.header__wrapper-logo:active {
  transform: scale(0.9);
}
.header__wrapper-info {
  display: flex;
}
.header__wrapper-info h1 {
  color: #eaeaea;
}
.header__wrapper-info h1 span {
  color: white;
}

.documentation {
  padding: 150px 0 60px 0;
}
.documentation h2, .documentation h3, .documentation h4 {
  margin-bottom: 24px;
}
.documentation__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.documentation__item:not(:last-child) {
  padding-bottom: 36px;
  margin-bottom: 36px;
}
.documentation__item:not(:last-child)::after {
  content: "";
}
.documentation__item > a {
  display: flex;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 143%;
  color: var(--primary-color-600);
}
.documentation__item > a:hover img {
  transform: scale(1.01);
}
.documentation__item > a:active img {
  transform: scale(0.99);
}
.documentation__item img {
  width: fit-content;
  height: auto;
  margin-bottom: 24px;
  border-radius: 15px;
  transition: 0.2s ease;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  transition: 0.2s ease box-shadow;
}
.documentation__item img:hover {
  box-shadow: 0px 0px 25px rgba(228, 19, 63, 0.25);
}
.documentation__item p {
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
  margin-bottom: 24px;
}
.documentation__item > ol, .documentation__item > ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.documentation__item > ol li, .documentation__item > ul li {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 143%;
}
.documentation__item > ol li:not(:last-child), .documentation__item > ul li:not(:last-child) {
  margin-bottom: 12px;
}
.documentation__item > ol li::before, .documentation__item > ul li::before {
  content: "";
  min-width: 10px;
  height: 10px;
  margin: 6px 10px 0;
  background-color: white;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid var(--primary-color-600);
}
.documentation__item ol li::before {
  display: none;
  content: initial;
}
.documentation__item-code {
  padding: 20px 30px;
  margin-bottom: 24px;
  max-width: 1100px;
  border-radius: 5px;
  background-color: #212121;
  color: white;
  height: fit-content;
  resize: none;
  min-height: initial;
  font-size: 16px;
  line-height: 143%;
  font-family: "Source Code Pro", monospace;
}
.documentation__item-attention {
  display: flex;
  margin-bottom: 24px;
  max-width: 1100px;
}
.documentation__item-attention p {
  margin-bottom: 0;
  max-width: none;
}
.documentation__item-attention img {
  min-width: 24px;
  height: 24px;
  margin: 0 12px 0 5px;
  box-shadow: 0px 0px 0px 5px #FAD2DB;
  border-radius: 50%;
  margin-bottom: 0;
}
.documentation__item__materials {
  display: flex;
  flex-direction: column;
  padding: 36px 0 0 0;
  grid-gap: 24px;
}
.documentation__item__materials__item {
  width: fit-content;
  display: flex;
  position: relative;
  scroll-margin: 120px !important;
}
.documentation__item__materials__item img {
  margin: initial;
  max-width: 100%;
}
.documentation__item__materials__item__label {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 5;
  padding: 8px 12px;
  color: white;
  background-color: var(--primary-color-700);
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.35);
  font-size: 16px;
  font-weight: 700;
  line-height: 143%;
}
.documentation__item__materials__item.--video > * {
  border-radius: 15px;
}
.documentation__numerotation {
  font-weight: 600;
  min-width: 22px;
  margin-right: 10px;
}

.candidates {
  padding: 150px 0 60px 0;
  display: flex;
  flex-direction: column;
}
.candidates__list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 40px;
}
.candidates__list__item {
  width: fit-content;
  padding: 10px 10px 10px 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  grid-gap: 14px;
  border: 1px solid var(--gray-600);
  background-color: var(--gray-50);
  transition: 0.2s ease border, 0.2s ease background-color, 0.2s ease box-shadow, 0.1s ease transform;
}
.candidates__list__item__name {
  font-size: 22px;
  font-weight: 700;
  line-height: 143%;
  color: var(--gray-800);
}
.candidates__list__item__status {
  display: flex;
}
.candidates__list__item__status svg {
  width: 43px;
  height: 42px;
}
.candidates__list__item:hover {
  border-color: var(--primary-color-500);
  box-shadow: 0px 0px 0px 5px #FAD2DB;
}
.candidates__list__item:active {
  transform: scale(0.9);
}

.navigators {
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.navigators__container {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.navigators__item {
  min-width: 80px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--gray-200);
  transition: 0.2s ease background-color, 0.1s ease transform;
}
.navigators__item svg {
  min-width: 36px;
  width: 36px;
  height: 36px;
  stroke: var(--gray-800);
}
.navigators__item--up svg {
  transform: rotate(180deg);
}
.navigators__item:hover {
  background-color: var(--gray-300);
}
.navigators__item:active {
  transform: scale(0.9);
}